<!doctype html>
<html ng-controller="mainCtrl as main"> 
    <head>
        <base href="/">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title ng-bind="main.title"></title>
        <link rel="icon" href="img/favicon.ico">    
        
        {% for style in styles %}
        <link rel="stylesheet" href="{$ style $}">
        {% endfor %}

    </head>

    <body class="demo" ng-cloak>

        {% import 'nav.njk' as nav %}
        {$nav.active(name)$}

        <div class="content">
            <p>auth:{{auth}}</p>
             {% block content %} {% endblock %}
        </div> 

        {% for script in scripts %}
        <script src="{$ script $}"></script>
        {% endfor %}

        <script>
        (function(UNBOUNDID) {
            UNBOUNDID.findJwt();

            angular.module(UNBOUNDID.MODULE_NAME).constant('current', '{$ name $}');

            angular.element(document).ready(function() {
                angular.bootstrap(document, ['broker']);
            });
        }(window.UNBOUNDID = window.UNBOUNDID || {}));  
        </script>   

    </body>

</html>