<!DOCTYPE html>
<html>
<head>
  <title>UnboundID Data Broker Demo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="img/favico.ico" rel="shortcut icon">
</head>
<body style="background-color: #dbdbdb;">
  <script>
    var l = location;
    var url = l.origin +
        l.pathname.substring(0, l.pathname.lastIndexOf('/') + 1) +
        '?csearch=' + encodeURIComponent(btoa(l.search || '')) +
        '&chash=' + encodeURIComponent(btoa(l.hash || ''));

    alert(url);
        
    l.replace(url);
  </script>
</body>
</html>