{% extends "layout.njk" %}

{% block content %}

<div ng-controller="cartCtrl as cart">
    <h1>Checkout</h1>
    <h4 ng-if="!auth.authorized">Please Sign In</h4>
    <p> 
        cart:{{cart}}
    </p>
</div>
 
{% endblock %}