{% extends "layout.njk" %}

{% block content %}

<div class="container-fluid shopping" ng-controller="shopCtrl as shop">

  <div class="row recommendations" ng-if="products.recommendations">
    <div class="col-sm-12">
      <h1>Recommendations for You, {{auth.profile.name.givenName}}</h1>
    </div>
  </div>

  <div ng-repeat="group in products.groups">
    <div class="row">
      <div class="col-sm-12">
        <h3>{{group.display}}</h2>
      </div>

    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4 product" ng-repeat="product in group.products">
        <!--<div class="thumbnail">-->
        <figure>
          <img ng-src={{product.img}} class="img-responsive" alt="">

          <!--<figcaption>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
          </figcaption>-->
        </figure>
        <a href="#" ng-click="shop.buy(product)">
          <div class="hover-container">
            <h2>{{product.descr1}}</h2>
            <hr>
            <h5>
              {{product.descr2}}
              <span class="price">{{product.price | currency}}</span>
            </h5>
          </div>
        </a>
      <!--</div>-->
      </div>
    </div>
  </div>
</div>

{% endblock %}

