
@import "bootstrap/variables";
@import "bootstrap/mixins";

body {
    padding-top: $navbar-height;
}
.demo {
    .navbar-brand {
        width: 200px;
        height: $navbar-height;
        padding: 10px 10px;
        
        .img-responsive {
            display: block;
            max-width: 100%;
            max-height: 100%;
            height: initial;
        }        
       
/*
        float:left;
        height:50px;
        padding:15px 15px;
        font-size:18px;
        line-height:20px;

        background-image: url(/img/logo.svg);

        background-repeat: no-repeat;
        background-position: left center;
*/
        
    }
}
/* @media(max-width: map-get($grid-breakpoints, sm)) { */
/*
@include media-breakpoint-down(xs) {    
    .navbar .navbar-nav>.nav-item {
        float: none;
        margin-left: .1rem;
    }
    .navbar .navbar-nav {
        float:none !important;
    }
    .navbar .collapse.in, .navbar .collapsing  {
        clear:both;
    }
}
*/
