<!doctype html>
<html ng-controller="mainCtrl as main"> 
    <head>
        <base href="/">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title ng-bind="main.title"></title>
        <link rel="icon" href="img/favicon.ico">    
        <!-- build:css -->
        <!-- endbuild -->
        
    </head>

    <body class="demo" ng-cloak>

 	      @@include('./nav.html')

        <div class="content">
            <p>auth:{{auth}}</p>
            <%= contents %>
        </div> 

        <!-- build:js -->
        <!-- endbuild -->
        <script>
        (function(UNBOUNDID) {
            UNBOUNDID.findJwt();
            angular.element(document).ready(function() {
                angular.bootstrap(document, ['shopCo']);
            });
        }(window.UNBOUNDID = window.UNBOUNDID || {}));  
        </script>   

    </body>

</html>